.depoimento {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 80%;
    background-color: #C3191908;
    padding: 3rem 2rem;
    margin: 8rem auto;
    gap: 0.5rem;
}