.rodape {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: #F9FAFB;
	font-family: 'Inter', sans-serif;
	gap: 1rem;
	padding: 5rem 0;
}

.rodape input {
	outline: none;
	border: 1px solid #D0D5DD;
	border-radius: 0.5rem;
	padding: 0.7rem;
	width: 280px;
	margin-right: 1rem;
}

.rodape p {
	padding-top: 1.3rem;
	color: #98A2B3;
	font-size: 0.9rem;

}